body {
	margin: 0px;
	padding: 0px;
}
.container {
	position: relative;
  	text-align: center;
}
.image {
	width: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
}
.main {

}

.left {
	position: absolute;
	top: 55%;
	right: 76%;
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	opacity: 0%;
}
.center {
	position: absolute;
	top: 55%;
	right: 42%;
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	opacity: 0%;
}
.right {
	position: absolute;
	top: 57%;
	right: 11%;
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	opacity: 0%;
}
.bottom-left {
	position: absolute;
	top: 77%;
	right: 61%;
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	opacity: 0%;
}
.bottom-right {
	position: absolute;
	top: 77%;
	right: 22%;
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	opacity: 0%;
}